@import url("@mdi/font/css/materialdesignicons.css");

html{
    scroll-behavior: smooth;
}


h1{
    font-size: 3rem;
    font-weight: 1000;
}

h2{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center
}

h3{
    font-size: 1.5rem;
    font-weight: 500;
}

a{
    transition: color .3s ease;
}

a:hover{
    cursor: pointer;
    color: var(--hover);
}

.focus-text{
    color: var(--secondary);
}

.text-faded{
    color: var(--text-secondary);
}

.text-faded-hover{
    color: var(--text-secondary);
    transition: color .3s ease;
}

.text-faded-hover:hover{
    color: var(--text-primary);
}

.pressable:hover{
    cursor: pointer;
}

input[type='text']{
    border: none;
    border-bottom: black solid .1rem;
}

.bold{
    font-weight: 800;
}

